<div ng-controller="sanphamdamua">
  <h3 class="text-success"><i class="fa-solid fa-cart-arrow-down"></i>SẢN PHẨM ĐÃ MUA</h3>
  <section class="d-flex row " style="margin-bottom: 20px; border: 3px solid #0a922a;">
    <section class="col-lg-4 col-md-4 mb-3">
      <div style="display: flex; align-items: center;">
        <img src="img/SP1.jpg" alt="" width="100px"
          style="display: inline-block; vertical-align: middle; margin-right: 10px;">
        <div style="display: inline-block; vertical-align: middle;">
          <p class="" style="margin: 0;">GIÀY SNEAKER GUCCI</p>
          <p class="text-danger" style="margin: 0;">1050$</p>
        </div>
      </div>
    </section>
    <section class="col-lg-4 col-md-4 mb-3" style="display: flex; align-items: center;">
      <div>
        <p style="margin: 0;">Số lượng:</p> <input type="number" ng-model="soluong" readonly>
        <p class="text-danger">Tổng tiền: {{soluong * 1050}}$</p>
      </div>
    </section>
    <section class="col-lg-4 col-md-4 mb-3" style="display: flex; align-items: center;">
      <a href="" style="margin-left: auto; color: #0a922a;">Mua lại</a>
    </section>
  </section>
  <section class="d-flex row " style="margin-bottom: 20px; border: 3px solid #0a922a;">
    <section class="col-lg-4 col-md-4 mb-3">
      <div style="display: flex; align-items: center;">
        <img src="img/SP11.jpg" alt="" width="100px"
          style="display: inline-block; vertical-align: middle; margin-right: 10px;">
        <div style="display: inline-block; vertical-align: middle;">
          <p class="" style="margin: 0;">BỘ SƠ MI GUCCI</p>
          <p class="text-danger" style="margin: 0;">820$</p>
        </div>
      </div>
    </section>
    <section class="col-lg-4 col-md-4 mb-3" style="display: flex; align-items: center;">
      <div>
        <p style="margin: 0;">Số lượng:</p> <input type="number" ng-model="soluong" readonly>
        <p class="text-danger">Tổng tiền: {{soluong * 820}}$</p>
      </div>
    </section>
    <section class="col-lg-4 col-md-4 mb-3" style="display: flex; align-items: center;">
      <a href="" style="margin-left: auto; color: #0a922a; ">Mua lại</a>
    </section>
  </section>
  <section class="d-flex row " style="margin-bottom: 20px; border: 3px solid #0a922a;">
    <section class="col-lg-4 col-md-4 mb-3">
      <div style="display: flex; align-items: center;">
        <img src="img/SP10.jpg" alt="" width="100px"
          style="display: inline-block; vertical-align: middle; margin-right: 10px;">
        <div style="display: inline-block; vertical-align: middle;">
          <p class="" style="margin: 0;">ÁO POLO GUCCI</p>
          <p class="text-danger" style="margin: 0;">551$</p>
        </div>
      </div>
    </section>
    <section class="col-lg-4 col-md-4 mb-3" style="display: flex; align-items: center;">
      <div>
        <p style="margin: 0;">Số lượng:</p> <input type="number" ng-model="soluong" readonly>
        <p class="text-danger">Tổng tiền: {{soluong * 551}}$</p>
      </div>
    </section>
    <section class="col-lg-4 col-md-4 mb-3" style="display: flex; align-items: center;">
      <a href="" style="margin-left: auto; color: #0a922a;">Mua lại</a>
    </section>
  </section>
</div>